.container {
    background-color: rgb(82, 82, 194);
    margin: 30px;
    padding: 30px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    color: white;

    @media (min-width: 1280px) {
        width: 60%;
        margin: 30px auto 30px auto;
    }
}

.title {
    text-align: center;

    @media (min-width: 768px) {
        font-size: 34px;
    }

    @media (min-width: 1280px) {
        width: 50%;
        font-size: 30px;
    }
}

.text {
    text-align: center;
    font-size: 16px;
    margin: 20px;

    @media (min-width: 768px) {
        font-size: 22px;
    }

    @media (min-width: 1280px) {
        width: 60%;
        font-size: 20px;
    }
}