.carousel {
    min-height: 400px;

    @media (min-width: 1280px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        margin-top: 40px;
    }

    @media (min-width: 1280px) {
        margin-top: 0;
    }
    

    @media (min-width: 1900px) {
        min-height: 607px;
        max-height: 607px;
        margin-top: 0;
    }
}

.slides {
    @media (min-width: 1280px) {
        height: 400px;
        width: 80%;
    }

    @media (min-width: 1900px) {
        height: 607px;
    }
}

.image {
    min-height: 400px;
    max-height: 400px;

    @media (min-width: 1280px) {
        height: 100%;
        width: 100%;
    }

    @media (min-width: 1900px) {
        min-height: 607px;
        max-height: 607px;
    }
}