.drawerHover {
  background-color: white;
  margin: 10px 10px 10px 0;
  &:hover {
    background-color: rgb(201, 201, 201);
  }
}

.buttonHover {
  background-color: rgb(240, 123, 123);
  &:hover {
    background-color: rgb(177, 99, 99);
  }
}