.container {
    align-items: center;
    justify-content: space-between;
}

.leftContainer {
    align-items: center;
}

.rightContainer {
    align-items: center;
    gap: 16px;
    margin-right: 20px;

    @media (min-width: 768px) {
        gap: 20px
    }
}

.image {
    height: 32px;
    width: 32px;
    margin: 20px 20px 20px 20px;

    @media (min-width: 768px) {
        height: 64px;
        width: 64px;
    }

    @media (min-width: 1280px) {
        height: 46px;
        width: 46px;
    }
}

.title {
    @media (min-width: 768px) {
        font-size: 32px;
    }
}

.text {
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 22px;
    }
}